/* Обнуляющий стиль */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	/*(css свойство снизу позволяет более адекватно работать с габаритами блочного тега, так как с помощью данного css параметра размеры блока зависит от конкретного значения, тоесть если мой блок имеет размеры  100 на 100 px при задании отступа от границ блока к содержимому мой размерр 100 на 100 никуда не дененться, а будет фиксированнымю Другими словами внешний отступ не влияет на размеры, сколько бы воды не лить в банку, она свой объём не изменит)*/
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
/* Скрыто подчёркивание для ссылок, которое по умолчанию присудствует */
a:hover {
	text-decoration: none;
}
/* Включили принудительное наследование заголовкам font-wieght i font-size*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
/*  */
body,
html{
	height: 100%;
}

/* ================================================================ */
